#include<windows.h>
#include"resource.h"

MY_BITMAP BITMAP CPA.bmp
MY_BITMAP_LOVELACE BITMAP LadyAdaLovelace.bmp
MYICON ICON App_Logo.ico

CREAT DIALOG DISCARDABLE 0,0,300,150
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "CREAT"

BEGIN

LTEXT "FILE  NAME" -1,10,10,40,20
EDITTEXT ID_ETFILENAME 70,10,150,10,WS_TABSTOP 

LTEXT "MODE " -1, 10, 35, 30, 10, WS_TABSTOP
AUTORADIOBUTTON "READ",  RB_READ,  40, 35, 50, 10 | WS_GROUP
AUTORADIOBUTTON "WRITE", RB_WRITE, 40, 45, 50, 10

LTEXT "R" -1, 28, 85,  30, 10
LTEXT "W" -1, 27, 95,  30, 10
LTEXT "X" -1, 28, 105, 30, 10

LTEXT "Permission: " -1,10,75,50,10, WS_TABSTOP

LTEXT "User "  -1,  60, 75, 30, 10, WS_TABSTOP
CHECKBOX "", RB_UR, 65, 85,  30, 10, BS_AUTOCHECKBOX, BS_NOTIFY
CHECKBOX "", RB_UW, 65, 95,  30, 10, BS_AUTOCHECKBOX, BS_NOTIFY 
CHECKBOX "", RB_UX, 65, 105, 30, 10, BS_AUTOCHECKBOX, BS_NOTIFY

LTEXT "Group"  -1,  90, 75, 30, 10, WS_TABSTOP
CHECKBOX "", RB_GR, 95, 85,  30, 10, BS_AUTOCHECKBOX, BS_NOTIFY
CHECKBOX "", RB_GW, 95, 95,  30, 10, BS_AUTOCHECKBOX, BS_NOTIFY
CHECKBOX "", RB_GX, 95, 105, 30, 10, BS_AUTOCHECKBOX, BS_NOTIFY

LTEXT "Others" -1, 120, 75, 30, 10, WS_TABSTOP
CHECKBOX "", RB_OR, 125, 85,  30, 10, BS_AUTOCHECKBOX, BS_NOTIFY
CHECKBOX "", RB_OW, 125, 95,  30, 10, BS_AUTOCHECKBOX, BS_NOTIFY
CHECKBOX "", RB_OX, 125, 105, 30, 10, BS_AUTOCHECKBOX, BS_NOTIFY

PUSHBUTTON "OK",    PB_OK,    80,  130, 50, 10, BS_PUSHBUTTON
PUSHBUTTON "RESET", PB_RESET, 150, 130, 50, 10, BS_PUSHBUTTON
PUSHBUTTON "CLOSE", PB_CLOSE, 10,  130, 50, 10, BS_PUSHBUTTON

END





OPEN DIALOG DISCARDABLE 0,0,250,100
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "OPEN"
BEGIN

LTEXT "FILE  NAME" -1,10,10,40,20
EDITTEXT ID_ETFILENAME 70,10,150,10,WS_TABSTOP 

LTEXT "MODE " -1, 10, 35, 30, 10, WS_TABSTOP
AUTORADIOBUTTON "READ",  RB_READ,  40, 35, 50, 10 | WS_GROUP
AUTORADIOBUTTON "WRITE", RB_WRITE, 40, 45, 50, 10

PUSHBUTTON "CLOSE", PB_CLOSE, 10,  85, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "OK",    PB_OK,    80,  85, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "RESET", PB_RESET, 150, 85, 50, 10, BS_FLAT, BS_NOTIFY

END





CLOSE DIALOG DISCARDABLE 0,0,200,100
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "CLOSE"
BEGIN

LTEXT "FILE  NAME" -1,10,10,40,20
EDITTEXT ID_ETFILENAME 70,10,100,10,WS_TABSTOP

PUSHBUTTON "CLOSE", PB_CLOSE, 10,  75, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "OK",    PB_OK,    80,  75, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "RESET", PB_RESET, 150, 75, 50, 10, BS_FLAT, BS_NOTIFY

END


READ DIALOG DISCARDABLE 0,0,300,350
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "READ"
BEGIN

LTEXT "FILE  NAME" -1,10,10,40,20
EDITTEXT ID_ETFILENAME 70,10,150,10,WS_TABSTOP 

LTEXT "NO OF BYTES" -1,10,40,60,40
EDITTEXT ID_NO_OF_BYTES 70,40,20,10,WS_TABSTOP 

PUSHBUTTON "CLOSE", PB_CLOSE, 10,  320, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "OK",    PB_OK,    10,  70, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "RESET", PB_RESET, 80, 70, 50, 10, BS_FLAT, BS_NOTIFY

LTEXT "DATA" -1,10,100,60,40
EDITTEXT ID_DATA 70,100,200,200,WS_TABSTOP|ES_MULTILINE | WS_VSCROLL|BS_NOTIFY|ES_WANTRETURN

END

WRITE DIALOG DISCARDABLE 0,0,300,350
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "WRITE"
BEGIN

LTEXT "FILE  NAME" -1,10,10,40,20
EDITTEXT ID_ETFILENAME 70,10,150,10,WS_TABSTOP 

LTEXT "NO OF BYTES" -1,10,40,60,40
EDITTEXT ID_NO_OF_BYTES 70,40,20,10,WS_TABSTOP 

LTEXT "DATA TO WRITE" -1,10,70,60,40
EDITTEXT ID_DATA 70,70,200,200,WS_TABSTOP|ES_MULTILINE | WS_VSCROLL|BS_NOTIFY|ES_WANTRETURN 

PUSHBUTTON "CLOSE", PB_CLOSE, 10,  330, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "OK",    PB_OK,    80,  330, 50, 10, BS_FLAT, BS_NOTIFY
PUSHBUTTON "RESET", PB_RESET, 150, 330, 50, 10, BS_FLAT, BS_NOTIFY

END

LOGS DIALOG DISCARDABLE 0,0,350,370
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION "LOGS"
BEGIN

LTEXT "LOGS" -1,10,10,60,40
EDITTEXT ID_LOGS 20,40,300,300,WS_TABSTOP|ES_MULTILINE | WS_VSCROLL|BS_NOTIFY|ES_WANTRETURN 

PUSHBUTTON "CLOSE", PB_CLOSE, 20,  350, 50, 10, BS_FLAT, BS_NOTIFY

END

